:root {
    --navbar-bg-color: #EAD7A4; 
    --bg-color: #F5DEB3; 
    --text-color: #6B5B4D; 
    --box-color-light: #FAE6C8; 
    --button-bg-color: #6B5B4D; 
    --button-text-color: #F9F3E9;
    --box-outline: #C8B28A;
    --nav-bg-color: #6B5B4D; 
    --navbar-text-color: #f9f9f9; 
    --background-color: #F9F3E9; 
    --button-hover-color: #D4B483; 
    --recommendation-outline-color: #C8B28A; 
}

[data-theme="dark"] {
    --navbar-bg-color: #424141;
    --bg-color: #1c1c1e; 
    --text-color: #eeeeee; 
    --box-color-light: #2c2c3e; 
    --button-bg-color: #4682b4; 
    --button-text-color: #ffffff; 
    --box-outline: #4682b4; 
    --nav-bg-color: #333; 
    --navbar-text-color: #eeeeee; 
    --button-hover-color: #a247ae;
    --recommendation-outline-color: #4682b4; 
}
